<section>
  <h1>whoami</h1>
  <p>Atualmente trabalho como Sysadmin Linux, tenho alguns anos de estrada e por isso acho interessante compartilhar algumas experiências por aqui;-). Possuo certificação RHCE (Red Hat Certified Professional e LPIC1 (Linux
Professional Institute. Atualmente tenho me especializado em gerenciamento de Datacenters utilizando ferramentas que auxiliam na padronização e deploy rápido de configurações, entre as ferramentas que utilizo estão o Puppet e Spacewalk. Sinta-se a vontade de entrar em contato </p>
</section>
