<section>
  <h1>About me</h1>
  <p>I currently work as an Infrastructure Analyst with several years of experience, which is why I find it interesting to share some experiences here ;-). I hold RHCE (Red Hat Certified Professional) and LPIC1 (Linux Professional Institute) certifications. Currently, I have been specializing in Datacenter management using tools that help with standardization and rapid deployment of configurations. Among the tools I use are Puppet and Ansible. And starting with Python development ;-). Feel free to contact me.</p>
</section>
