<section>
  <h1>About me</h1>
  <p>DevOps Engineer with several years of experience in infrastructure and automation. I hold multiple certifications including RHCE (Red Hat Certified Professional), LPIC1 (Linux Professional Institute), CKA (Certified Kubernetes Administrator), AWS Certified Cloud Practitioner, and Azure Fundamentals. Specialized in configuration management, container orchestration, and cloud infrastructure using tools like Puppet, Ansible, Kubernetes. Deep understanding of Internal Developer Platforms (IDP) and platform engineering practices, including tools like Backstage , Crossplane and Argocd aimed at streamlining developer workflows and enhancing platform self-service capabilities.
Passionate about automation, Python development, and sharing knowledge about DevOps practices, Linux systems administration, and cloud technologies. Feel free to reach out!</p>
</section>
